:root {
    --primary-color: #101828;
    --font-type: "Montserrat", sans-serif;
    --neutral-color: #ffffff;
}

body {
    font-family: var(--font-type);
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body > header {
    background-image: url(/assets/imgs/img-14.png);
    background-repeat: no-repeat;
    width: 100%;
    color: var(--neutral-color);
    padding: 0px 40px 550px 40px;
    background-position: 20% 10%;
    display: flex;
    flex-direction: column;
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

header h1 {
    font-size: 30px;
    font-weight: normal;
}

header h2 {
    font-size: 21px;
    font-weight: normal;
}

header button {
    background-color: transparent;
    color: var(--neutral-color);
    padding: 10px;
    border-radius: 25px;
    border: groove;
    width: 150px;
}

nav li, nav > button {
    display: none;
    list-style: none;
}

nav > div:first-child {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    color: white;
    width: 100%;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 30px;
    margin-right: 10px;
}

#navbar {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 60px;
    width: 150px;
}

#navbar img {
    width: 30px;
    margin-right: 10px;
}

#dropdown-menu {
    padding: 10px;
    color: white;
    display: inline-block;
}

nav > img {
    margin-right: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#shop, #aboutUs, #blog, #services, #ourTeam, #contact {
    padding: 40px;
    width: 100%;
}

#shop label {
    display: flex;
    border-bottom: gray solid 1px;
}

#shop input {
    height: 40px;
    width: 400px;
    border: none;
}

#aboutUs p, #blog p{
    font-size: 18px;
    color: gray;
}

#feature {
    margin-top: 30px;
}

#feature div {
    display: flex;
    justify-content: space-between;
}

#shop div > button {
    margin: 30px 10px;
    border: none;
    background-color: transparent;
}

#shop picture > img{
    width: 400px;
    margin-bottom: 20px;
}

#services #service-header {
    display: flex; 
    margin: 30px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#services picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto 1fr;
    gap: 5px;
}

#services picture div {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#services picture div:nth-child(5) {
    grid-column: span 2;
    height: 200px;
}

#services picture > div {
    background-repeat: no-repeat;
    background-size: cover;
}

#services-img1 {
    background-image: url(/assets/imgs/img-7.png);
    height: 200px;
}

#services-img2 {
    background-image: url(/assets/imgs/img-6.png);
    height: 200px;
}

#services-img3 {
    background-image: url(/assets/imgs/img-4.png);
    height: 200px;
}

#services-img4 {
    background-image: url(/assets/imgs/img-5.png);
    height: 200px;
}

#services-img5 {
    background-image: url(/assets/imgs/img-19.png);
    height: 200px;
    background-position: bottom center;
    object-fit: cover;
}

#aboutUs div:nth-child(1){
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#aboutUs p {
    margin: 16px 10px;
}

#blog #blog-header {
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#blog p {
    margin: 16px 10px;
}

#ourTeam #ourTeam-header {
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#ourTeam div > div img {   
    width: 200px;
    height: 300px;
}

#ourTeam div {
    margin-bottom: 30px;
}

#ourTeam p {
    font-size: 15px;
}

#ourTeam p:nth-child(3n) {
    color: gray;
}

#ourTeam picture {
    display: flex;
    flex-direction: row;
}

#ourTeam picture {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#ourTeam picture > div {
    display: inline;
}

#ourTeam div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ourTeam div > picture img {
    height: 20px;
    width: 20px;
    margin: 10px;
}

#ourTeam > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center;
}

#ourTeam > div:nth-child(2) > div {
    height: 400px;
}

#contact {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    width: 100%;
    margin-top: 60px;
}

aside > section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px;
    padding: 20px;
    height: 100%;
}

aside form { 
    background-color: var(--neutral-color);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: medium;
    margin: 10px;
    border-radius: 10px;
}

aside form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside form > * {
    margin: 0px 5px 10px 5px;
}

aside form input {
    padding: 10px;
    border-radius: 10px;
    border: gray solid 1px;
}

aside form label{
    display: flex;
    flex-direction: column;
}

aside form label:nth-child(4){
    display: inline;
}

aside form div input {
    width: 140px;
}

aside form > button {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 40px;
    width: 100%;
}

footer input {
    padding: 15px;
    border-radius: 8px;
}

footer div > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer form > button {
    padding: 10px;
    border-radius: 8px;
}

footer > div:first-child {
    margin-bottom: 100px;
}

footer > div:nth-of-type(2) > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
}

button, a {
    cursor: pointer;
}

@media (min-width: 800px) {
    body > header {
        background-size: 125%;
        background-position: left top;
    }

    header > div {
       width: 700px;
       padding: 0px 0px 50px 10px;
       align-items: start;
    }

    header h1 {
        font-size: 60px;
        font-weight: normal;
    }
    
    header h2 {
        font-size: 20px;
        font-weight: normal;
    }

    header button {
        padding: 15px;
    }
}