:root {
    --primary-color: #101828;
    --font-type: "Montserrat", sans-serif;
    --neutral-color: #ffffff;
}

body {
    font-family: var(--font-type);
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body > header {
    background-image: url(/assets/imgs/img-14.png);
    background-repeat: no-repeat;
    width: 100%;
    color: var(--neutral-color);
    padding: 0px 40px 550px 40px;
    background-position: 20% 10%;
    display: flex;
    flex-direction: column;
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

header h1 {
    font-size: 30px;
    font-weight: normal;
}

header h2 {
    font-size: 21px;
    font-weight: normal;
}

header button {
    background-color: transparent;
    color: var(--neutral-color);
    padding: 10px;
    border-radius: 25px;
    border: groove;
    width: 150px;
}

nav li, nav > button {
    display: none;
    list-style: none;
}

nav > div:first-child {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    color: white;
    width: 100%;
    margin-top: 60px;
}

nav li {
    font-size: 14px;
    display: block !important;
    margin-bottom: 5px;
    background-color: #101828;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-container img {
    width: 30px;
    margin-right: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

#navbar img {
    width: 30px;
    margin-right: 10px;
}

#navbar button {
    background-color: transparent;
    border: none;
}


#hamburger-menu {
    width: 130px;
    padding: 10px;
    color: white;
    display: none;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    margin-right: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#shop, #aboutUs, #blog, #services, #ourTeam, #contact {
    padding: 40px;
    width: 100%;
}

#shop div:first-child {
    display: flex;
    justify-content: space-between;
}

#shop label {
    display: none;
    border-bottom: gray solid 1px;
}

#shop input {
    height: 40px;
    width: 400px;
    border: none;
}

#aboutUs p, #blog p{
    font-size: 18px;
    color: gray;
}

#feature {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#feature div:first-child {
    display: flex;
    justify-content: space-between;
}

#feature img {
    width: 30px;
}

.botao-selecionado {
    padding: 5px;
    color: white;
    background-color: #101828 !important;
    border-radius: 4px;
}

#feature div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shop div > button {
    margin: 30px 10px;
    border: none;
    background-color: transparent;
}

#shop picture > img{
    width: 400px;
    margin-bottom: 20px;
}

#shop-field {
    display: flex;
    flex-direction: column;
}

#shop-field > div {
    width: 400px;
    background-image: url('../assets/imgs/img-16.png');
    height: 500px;
    background-position: center;
    background-size: cover;
    margin: 15px;
}

#shop-field > div:hover > div {
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 100%;
}

#first-item *, #second-item * {
    display: none;
}

#first-item:hover *, #second-item:hover * {
    display: flex;
}

.item-top {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
}

.item-top p, .item-top img, .item-mid h4 {
    width: 120px;
    margin: 10px;
    color: white;
}

.item-mid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-mid p {
    margin: 10px;
    color: white;
}

.item-mid h4 {
    margin-top: 100px;
}

.item-bottom div {
    display: flex;
    align-items: center;
    background-color: #101828;
    width: 30%;
    border-radius: 40px;
    margin-left: 20px;
}

#services #service-header {
    display: flex; 
    margin: 30px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#services picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto 1fr;
    gap: 5px;
}

#services picture div {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#services picture div:nth-child(5) {
    grid-column: span 2;
    height: 200px;
}

#services picture > div {
    background-repeat: no-repeat;
    background-size: cover;
}

#services-grid p:nth-child(2){
    display: none;
}

#services-img1 {
    background-position: center;
    background-image: url(/assets/imgs/img-7.png);
    height: 200px;
    display: flex;
}

#services-img1 p, #services-img2 p,
#services-img3 p, #services-img4 p,
#services-img5 p {
    color: white;
    display: block;
}

#services-img1 > div, #services-img2 > div,
#services-img3 > div, #services-img4 > div,
#services-img5 > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#services-img1:hover p:nth-child(2), #services-img2:hover p:nth-child(2),
#services-img3:hover p:nth-child(2), #services-img4:hover p:nth-child(2),
#services-img5:hover p:nth-child(2) {
    display: block;
    font-size: 12px;
    margin: 24px;
}

#services-img2 {
    background-position: center;
    background-image: url(/assets/imgs/img-6.png);
    height: 200px;
}

#services-img3 {
    background-position: center;
    background-image: url(/assets/imgs/img-4.png);
    height: 200px;
}

#services-img4 {
    background-position: center;
    background-image: url(/assets/imgs/img-5.png);
    height: 200px;
}

#services-img5 {
    background-position: center;
    background-image: url(/assets/imgs/img-19.png);
    height: 200px;
    object-fit: cover;
}

#aboutUs > div:nth-child(1){
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
    flex-direction: row;
}

#aboutUs p {
    margin: 16px 10px;
}

#aboutUs-header img {
    width: 24px;
}

#blog #blog-header {
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#blog p {
    margin: 16px 10px;
}

#blog div:nth-child(2) img {
    display: none;
}

#ourTeam #ourTeam-header {
    display: flex;
    margin: 60px 0px 30px 0px;
    border-bottom: gray solid 1px;
}

#ourTeam div > div img {   
    width: 200px;
    height: 300px;
}

#ourTeam div {
    margin-bottom: 30px;
}

#ourTeam p {
    font-size: 15px;
}

#ourTeam p:nth-child(3n) {
    color: gray;
}

#ourTeam picture {
    display: flex;
    flex-direction: row;
}

#ourTeam picture {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#ourTeam picture > div {
    display: inline;
}

#ourTeam div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ourTeam div > picture img {
    height: 20px;
    width: 20px;
    margin: 10px;
}

#ourTeam > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center;
}

#ourTeam > div:nth-child(2) > div {
    height: 400px;
}

#contact {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    width: 100%;
    margin-top: 60px;
}

#contact section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 15px;
}

aside > section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
    height: 100%;
}

aside form { 
    background-color: var(--neutral-color);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: medium;
    margin: 30px 10px;
    border-radius: 10px;
}

aside form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside form > * {
    margin: 0px 5px 10px 5px;
}

aside form input {
    padding: 10px;
    border-radius: 10px;
    border: gray solid 1px;
}

aside form label{
    display: flex;
    flex-direction: column;
}

aside form label:nth-child(4){
    display: inline;
}

aside form div input {
    width: 140px;
}

aside form > button {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    border-radius: 5px;
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 40px;
    width: 100%;
}

footer input {
    padding: 15px;
    border-radius: 8px;
}

footer div > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer form > button {
    padding: 10px;
    border-radius: 8px;
}

footer > div:first-child {
    margin-bottom: 100px;
}

footer > div:nth-of-type(2) > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 20px;
}

footer > div:nth-of-type(2) > div:nth-of-type(2) p {
    cursor: pointer;
}

button, a {
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #243658;
    transition: 0.5s;
}

#blog-picture {
    display: none;
}

@media (min-width: 800px) {
    body > header {
        background-size: 125%;
        background-position: left top;
    }

    #blog-picture {
        display: block Im !important;
    }

    header > div {
       width: 700px;
       padding: 0px 0px 50px 10px;
       align-items: start;
    }

    header h1 {
        font-size: 60px;
        font-weight: normal;
    }
    
    header h2 {
        font-size: 20px;
        font-weight: normal;
    }

    header button {
        padding: 15px;
    }

    nav {
        justify-content: initial;
    }

    #navbar img {
        display: none;
    }

    #hamburger-menu {
        display: flex !important;
        flex-direction: row !important;
        margin-left: 400px;
    }

    #hamburger-menu li {
        background-color: transparent !important;
        padding: 5px !important;
    }

    nav li, nav > button {
        display: flex;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }
    
    #button-hamburger {
        display: none;
    }

    #shop div:first-child {
        justify-content: start;
    }
    
    #shop > div:first-child > img {
        display: none;
    }

    #shop label {
        width: 200px;
        background-color: #F4F4F4;
        color: rgb(168, 168, 168);
        border: 1px solid rgb(168, 168, 168);
        border-radius: 50px;
    }

    #shop label {
        padding: 5px;
        display: flex !important;
        width: 300px;
        align-items: center;
    }

    #shop div:first-child img {
        width: 24px;
    }

    #shop-field {
        flex-direction: row !important;
    }

    #feature > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #feature {
        display: flex;
        justify-content: space-between;
    }

    #feature label {
        margin-top: 25px;
    }

    #feature input {
        border: none;
        background-color: #F4F4F4 !important;
        width: 300px;
        outline: none;
    }


    /* header, main, footer {
        width: 100%;
    } */


    #aboutUs > div:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #aboutUs div > div:nth-child(1){
        width: 120%;
    }

    #aboutUs > div > div:nth-child(1) {
        display: flex;
        flex-direction: column !important;
    }

    #blog-picture {
        padding: 10px;
        width: 100%;
        background-image: url(/assets/imgs/img-8.png);
        background-size: cover;
        display: flex;
        flex-direction: row;
        height: 600px;
        position: relative;
    }

    #blog-picture img {
        height: 200px;
        border: 10px solid white;
        position: absolute;
        bottom: -50px;
        left: -50px;
    }

    #blog div:nth-child(2) {
        display: flex;
    }

    #blog div:nth-child(2) > div:nth-child(1) {
        width: 50%;
    }

    #blog div:nth-child(2) > div:nth-child(2) {
        background-image: url(/assets/imgs/img-15.png);
        background-position: center top;
        width: 50%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #blog div:nth-child(2) > div:nth-child(2) img {
        width: 50px;
        height: 50px;
        border: 5px solid white;
        border-radius: 50px;
        padding: 20px;
    }

    header {
        padding: 0 0px 550px 0 !important;
    }

    header > * {
        width: 100%;
    }

    header nav, main div {
        width: 90%;
    }

    main > * {
        width: 90% !important;
    }

    #services-grid {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important; 
        grid-template-rows: auto auto !important;    
        gap: 5px !important;  
    }
    
    #services-grid div:last-child {
        grid-row: span 2 !important; 
        grid-column: 3 !important;
    }

    #services-grid div:nth-child(1){
        grid-column: 1;
    }
    #services-grid div:nth-child(2){
        grid-column: 2;
    }
    #services-grid div:nth-child(3){
        grid-column: 1;
    }
    #services-grid div:nth-child(4){
        grid-column: 2;
    }

    aside {
        padding-right: 94px !important;
        width: 93% !important;
    }

    aside form div input {
        width: 180px !important;
    }

    footer {
        width: 94% !important;
    }

    header > * {
        margin-left: 50px;
    }

    #aboutUs div > div:first-child {
        padding: 10px;
        margin-right: 50px;
    }

    #blog div > div:first-child {
        padding: 20px;
        margin-right: 50px;
    }

    #aboutUs-header {
        flex-direction: row !important;
    }

    #aboutUs-header > img {
        width: 24px !important;
    }

    #contact > div:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
    }

    #contact form {
        width: 40% !important;
        height: 400px;
        margin-left: 40px;
        margin-right: 60px;
    }

    #blog div:nth-child(2) img {
        display: block;
    }

    #contact > * {
        padding-bottom: 10px !important;
        margin-left: 40px;
    }

    #contact section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #ourTeam div:nth-child(2) {
        display: flex;
        justify-content: space-around;
    }

    #contact {
        padding: 0;
        padding-bottom: 100px;
    }

    form textarea {
        height: 180px;
    }

    footer > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }

    footer > div:nth-child(1) > * {
        height: 50px;
    }

    footer > div:nth-child(1) > div:first-child {
        display: flex;
        flex-direction: column;
    }

    footer > div:nth-child(1) > form {
        flex-direction: row !important;
    }

    footer > div:nth-child(2) {
        display: flex;
        font-size: 18px;
    }

    footer > div:nth-child(2) > div:nth-child(2) {
        width: 60%;
        display: flex;
        justify-content: space-between !important;
    }

    footer > div:last-child {
        margin-top: 50px;
    }

    #navbar {
        margin-top: 0px;
    }
}